/* p {
    text-align: center;
}
h1 {
    text-align: center;
    text-decoration: red underline;
}
a {
    text-decoration: none;
}
#h1 {
    font-weight:normal;
}
#h2 {
    font-weight: bold;
}
#h3 {
    font-weight: bolder;
}
#h4 {
    font-weight: lighter;
}
#one{
    font-family: arial;
}
#two {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* #one {
    font-size: 25px;
}
#two {
    font-size: 20px;
}
#three {
    font-size: 15px;
}
#one {
    font-size: 25px;
    line-height: 50px;
    text-transform: capitalize;
} */


* {
    font-family: "Time New Roman" ;
}
h1 {
    text-align: center;
    text-transform: capitalize;
}
#outer {
    font-size: 25px;
}
#inner {
    font-size: 10px;
}