div {
    height: 100px;
    width: 100px;
    background-color: pink;
    /* width: 100px;
    border: 2px;
    border-style: solid;
    border-color: black;*/
    border: 2px solid brown;
    text-align: right;
    border-radius: 1px;
}
h1 {
    width: 200px;
    height: 50px;
    background-color: rgb(101, 163, 218);
    /* border-width: 3px;
    border-style: dashed;
    border-color: black; */
} 